:root {
  --background-primary: #282c34;
  --background-primary-alt: #21252b;
  --background-secondary: #383c44;
  --background-secondary-alt: #3c4048;
  --background-modifier-border: #5c6370;
  --background-modifier-success: #28a745;
  --background-modifier-error: #d73a49;
  --color-accent: rgb(73, 73, 73);
  --interactive-accent-hover: #21a1f1;
  --text-normal: #36383a;
  --text-muted: #36383a;
  --text-faint: #36383a;
  --text-accent: #d19a66;
}

body {
  background-color: var(--background-primary);
  color: var(--text-normal);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#second-brain {
  width: 100%;
  height: 100vh;
  background-color: var(--background-primary);
}

.node {
  fill: var(--color-accent);
  stroke: var(--background-modifier-border);
  stroke-width: 1px;
  border-radius: 100%;
}

.node:hover {
  fill: var(--interactive-accent-hover);
  stroke: var(--background-modifier-border);
  stroke-width: 2px;
}

.link {
  stroke: var(--background-secondary);
  stroke-width: 1px;
}

.link:hover {
  stroke: var(--background-secondary-alt);
  stroke-width: 2px;
}

.text {
  fill: var(--text-normal);
}

.text-muted {
  fill: var(--text-muted);
}

.text-faint {
  fill: var(--text-faint);
}

.text-accent {
  fill: var(--text-accent);
}
